@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>MY CHAT APPLICATION</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   
    

    <div class="jumbotron bg-dark text-white text-center" style="margin:120px;">

        <p>Insérez votre message ici -vous êtes le producteur ici- </p>

        <form asp-controller="Home" asp-action="index" method="post" class="form-inline">

            <input type="text" class="form-control" placeholder="Votre message" name="message" style="width:450px;">
                <button class="btn btn-outline-success" type="submit" style=”background-color:#00F3FF”>OK</button> <br /><br />
                <p style="color:darkred;"> @ViewBag.message </p>

        </form>

    </div>

</body>
</html>
